
body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    background: #251e2b;
    color: #039A15;
  }
  
  p {
    font-weight: 200;
    margin: 0.4em 0;
  }
  p { font-size: 3.5em; }

  span {
   color: #039A15;
  }


 .logo{
    display: flex;
    flex: auto;
    flex-direction: row;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1cm;
    padding-left: 4cm;
  }

img:hover {
    width: 80px;
    animation-name: logo;
    animation-duration: 1s;
}

@keyframes logo {
    0% {width: 80px;}
    50% {width: 120px;}
    100% {width: 80px;}
}

#ecriture {
   color: black;
}

#img-1 {
   padding-right: 50px;
   padding-left: 300px;
}

#img-2 {
   padding-right: 50px;
}

footer {
   font-size: 0.15cm;
   text-align: end;
}

#titre::before {  
   transform: scaleX(0);
   transform-origin: bottom right;
 }
 
 #titre:hover::before {
   transform: scaleX(1);
   transform-origin: bottom left;
 }
 
 #titre::before {
   content: " ";
   display: block;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   inset: 0 0 0 0;
   background: rgb(36, 11, 43);
   z-index: -1;
   transition: transform .3s ease;
 }
 
 #titre {
   position: relative;
   font-size: 1.5cm;
   text-align: center;
   color: black;
 }
 
 html {
   block-size: 100%;
   inline-size: 100%;
 }
 
 
 @media (orientation: landscape) {
   body {
     grid-auto-flow: column;
   }
 }

footer:hover {
   font-size: 0.15cm;
   animation-name: anim-footer;
   animation-duration: 1s;
   text-align: end;
}

@keyframes anim-footer {
   0% {font-size: 0.15cm;}
   50% {font-size: 0.20cm;}
   100% {font-size: 0.15cm;}
}
